/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/


storage/debugbar/X16b9189c08324463b347f56426338c5b.json

storage/debugbar/X8b137619473ad446f09352ad889eaf41.json

storage/debugbar/Xbdfcb6812f30f34c4fab5e1d5937c489.json

storage/debugbar/Xc9f74b9f469e64c6691ef8bb7c2c474b.json

stubs/

storage/

a.out
